.profileContainer {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  place-items: center;
  justify-content: space-evenly;
}

.profileTitle {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20vw;
}

.profileItem {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  color: #555;
}

.profileItem span {
  color: #777;
}

.modal {
  /* position: absolute; */
}
